@charset "UTF-8";

.fm {
	padding: 50px;
	text-align: center;
}

.fm .title_join {
	padding: 20px;
	font-size: 17px;
	font-weight: 1000;
	text-align: center;
	color: #0B615E;
}

.fm label{
	display:block;
	margin:0 120px 0 0;

}

.fm .label-name{
	display:block;
	margin:0 140px 0 0;
}

.fm .label-pwchk{
	display:block;
	margin:0 86px 0 0;
}

.fm .label-email{
	display:block;
	margin:0 144px 0 0;
}

.fm .label-phone{
	display:block;
	margin:0 139px 0 0;
}


.fm .btn {
	padding:20px;
}