@charset "UTF-8";



.fm{
	padding:50px;
	text-align:center;
}

.fm .title_login{
	padding:20px;
	font-size:17px;
	font-weight:1000;
	color:#0B615E;
}

.fm .username{
	padding:10px;
}

.fm .userpw{
	padding:10px;
}

.fm .forgot_pw .find_pw{
	text-decoration: underline;
}

.fm label{
	display:block;
	margin:0 120px 0 0;

}

.fm .btn{
	margin:5px;
}

.fm .btn .join-btn{
	display:inline-block;
}
